.colornames {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  font-style: italic;

  @media ( min-width: $bp-tablet ) {
    font-size: 15px;
  }
}

.colorname {
  margin: 0 .5rem 0 0;
  color: $color-font;

  &:after {
    content: ',';
  }
  &:last-child:after {
    content: none;
  }
}
