$crp-inner-radius: 5px;

.create-palette-wrapper {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: $color-bg;
  box-shadow: 0 0 15px rgba(0,0,0,.5);

  .no-js & {
    display: none;
  }
}

.create-palette {
  @include container-width;
  margin: 0 auto;
}

.create-palette__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-family: $font-family-title;
  font-size: 1.75rem;
  color: $color-title;

  display: none;

  @media ( min-width: $bp-tablet ) {
    font-size: 2rem;
  }

  &:before,
  &:after {
    content: '\2605';
    vertical-align: .25em;
    font-size: .5em;

    @media ( min-width: $bp-tablet ) {
      vertical-align: .35em;
    }
  }
  &:before {
    margin-right: .4em;
  }
  &:after {
    margin-left: .4em;
  }
}

.create-palette__colors {
  position: relative;
  display: flex;
  width: 100%;
  height: 3.5rem;
  background: linear-gradient(-45deg, transparent 49%, $color-black-op25 50%, transparent 51% ) 0 0 / .7rem .7rem;
  border: 1px solid $color-gray-75;
  border-radius: 5px;

  @media ( min-width: $bp-desktop ) {
    // width: 50%;
  }
}

.create-palette__color {
  width: 20%;
  border-left: 1px solid $color-black-op25;
  cursor: pointer;

  &:first-child {
    border-left: 0;
    border-radius: $crp-inner-radius 0 0 $crp-inner-radius;
  }

  &:last-child {
    border-radius: 0 $crp-inner-radius $crp-inner-radius 0;
  }

  &--current {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 5px $color-black-op25;
  }
}

.create-palette__output {
  width: 100%;
  margin-top: .5rem;
  height: 6em;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid $color-gray-75;
  border-radius: $crp-inner-radius;
  font-size: 14px;
  font-style: italic;
  color: #777;

  @media ( min-width: $bp-tablet ) {
    height: 4.5em;
    font-size: 15px;
  }
  @media ( min-width: $bp-desktop ) {
    height: 2.5em;
    font-size: 15px;
  }
}
