.footer {
  @include container-width;

  display: flex;

  margin: 1rem auto;
  padding: .5rem;

  background: beige;
  border: 1px solid rgba(0,0,0,.1);

}

  .footer__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    @media ( max-width: $bp-tablet ) {
      flex-direction: column;
    }
  }

  .socials {

  }
    .socials__item {
      display: inline-block;
      margin: 0 .5rem;
    }
