$bp-full-palette-XS: 420px;
$bp-full-palette-S: 580px;
$bp-full-palette-M: 930px;
$bp-full-palette-L: 1200px;

// The longest color name: lightgoldenrodyellow

.full-palette__colors {
  column-count: 1;
  column-gap: 1rem;
  padding-bottom: 25px; /* to move up on mobile  */

  @media ( min-width: $bp-full-palette-S ) {
    padding-bottom: 0;
    column-count: 2;
  }

  @media ( min-width: $bp-full-palette-M ) {
    column-count: 3;
  }

  @media ( min-width: $bp-full-palette-L ) {
    column-count: 4;
  }
}

.full-palette__colors--tiles {
  margin: 0 -.2rem;
  column-count: 2;

  @media ( min-width: $bp-full-palette-XS ) {
    column-count: 3;
  }

  @media ( min-width: $bp-full-palette-S ) {
    column-count: 4;
  }

  @media ( min-width: $bp-full-palette-M ) {
    column-count: 5;
  }

  @media ( min-width: $bp-full-palette-L ) {
    column-count: 6;
  }
}

.full-palette-color {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  margin-bottom: .4rem;
  padding: 0;
  background: transparent;
  border: 0;
  white-space: nowrap;
  outline-color: #CCC;
  border-radius: 5px;

  .full-palette__colors--tiles & {
    margin: 0 .2rem .4rem;
  }
}

.full-palette-color__view {
  position: relative;
  width: 40%;
  min-width: 120px;
  height: 50px;
  background: currentColor;
  box-shadow: inset 0 0 0 1px $color-black-op25;
  border-radius: 5px;
  cursor: pointer;

  .no-js & {
    cursor: default;
  }

  .full-palette-color--selected &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: .6rem;
    width: 18px;
    height: 18px;
    margin: auto;
    border-radius: 50%;
    background: $color-black-op40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='3 52 198 150'%3E%3Cpolygon fill='white' points='51.6805725 172.839844 3.75259816 124.911869 32.0368694 96.6275982 79.9648438 144.555573 172.328544 52.1918722 200.612815 80.4761434 79.6033325 201.485626 51.3190613 173.201355 51.6805725 172.839844'%3E%3C/polygon%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
    opacity: .5;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: currentColor;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    opacity: 0;
    transition: all .25s;
  }

  @media ( min-width: $bp-full-palette-S ) {
    height: 40px;
  }
  @media ( min-width: $bp-full-palette-M ) {
    height: 35px;
  }

  .full-palette__colors--tiles & {
    flex-grow: 1;
  }

  &:hover {
    z-index: 1;

    &:after {
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      opacity: 1;
    }
  }

  .no-js &:after {
    content: none;
  }
}

.full-palette-color__view-inner {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $color-black-op40;
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
  transition: all .25s;

  .full-palette__colors--tiles & {
    justify-content: flex-start;
  }

  .full-palette-color__view:hover & {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    opacity: .5;
  }
}

.full-palette-color__view-name,
.full-palette-color__view-sign {
  transition: all .2s;
  color: #FFF;
  text-shadow: 0 0 3px rgba(0,0,0,.5);
}
.full-palette-color__view-name {
  font-size: 17px;
  text-align: center;
  display: none;

  @media ( min-width: $bp-full-palette-XS ) {
    font-size: 15px;
  }
  @media ( min-width: $bp-full-palette-S ) {
    font-size: 14px;
  }

  .full-palette__colors--tiles & {
    display: block;
  }
}

.full-palette-color__view-sign {
  width: 20px;
  height: 20px;
  margin: 0 .7em;
  background-image: url($plus-sign);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  .full-palette-color--current & {
    background-image: url($minus-sign);
  }

  .full-palette__colors--tiles & {
    width: 18px;
    height: 18px;

    @media ( min-width: $bp-full-palette-XS ) {
      width: 16px;
      height: 16px;
      margin: 0 .7em;
    }
  }
}

.full-palette-color__name {
  padding-left: .5rem;
  font-size: 14px;
  font-style: italic;

  .full-palette__colors--tiles & {
    display: none;
  }
}
