.full-palette {
  // overflow: hidden;
}

.full-palette__controls {
  margin-bottom: 2rem;
  text-align: right;
}

.full-palette__control {
  margin-left: .5rem;
  padding: .4rem;
  border: 1px solid $color-gray-75;
  background: none;
  border-radius: 5px;
  outline: none;
  fill: $color-gray-75;

  &--current {
    fill: $color-green-light;
    border-color: $color-green-light;
  }
}

.full-palette__control-icon {
  display: block;
}

$bp-full-palette-XS: 420px;
$bp-full-palette-S: 580px;
$bp-full-palette-M: 820px;
$bp-full-palette-L: 1000px;
$bp-full-palette-XL: 1210px;

.full-palette__colors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 25px; /* to move up on mobile  */

  @media ( min-width: $bp-full-palette-S ) {
    height: 3380px;
    padding-bottom: 0;
  }

  @media ( min-width: $bp-full-palette-M ) {
    height: 2030px;
  }

  @media ( min-width: $bp-full-palette-XL ) {
    height: 1510px;
  }
}

.full-palette__colors--tiles {
  margin: 0 -.2rem;

  @media ( min-width: $bp-full-palette-XS ) {
    height: 4120px;
  }

  @media ( min-width: $bp-full-palette-S ) {
    height: 2280px;
  }

  @media ( min-width: $bp-full-palette-M ) {
    height: 1510px;
  }
  @media ( min-width: $bp-full-palette-L ) {
    height: 1220px;
  }
}

.full-palette-color {
  position: relative;
  margin-bottom: .4rem;
  white-space: nowrap;
  display: flex;
  align-items: center;

  .full-palette__colors--tiles & {
    width: auto;
    min-width: 180px; /* lightgoldenrodyellow */
    margin: 0 .2rem .4rem;
  }
}

.full-palette-color__view,
.full-palette-color__name {
  display: inline-block;
  vertical-align: middle;
}
.full-palette-color__view {
  position: relative;
  width: 120px;
  height: 50px;
  background: currentColor;
  box-shadow: inset 0 0 0 1px $color-black-op25;
  border-radius: 5px;
  cursor: pointer;

  &--selected:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: .6rem;
    width: 18px;
    height: 18px;
    margin: auto;
    border-radius: 50%;
    background: $color-black-op40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='3 52 198 150'%3E%3Cpolygon fill='white' points='51.6805725 172.839844 3.75259816 124.911869 32.0368694 96.6275982 79.9648438 144.555573 172.328544 52.1918722 200.612815 80.4761434 79.6033325 201.485626 51.3190613 173.201355 51.6805725 172.839844'%3E%3C/polygon%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
    opacity: .5;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: currentColor;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    opacity: 0;
    transition: all .25s;
  }

  @media ( min-width: $bp-full-palette-S ) {
    height: 40px;
  }
  @media ( min-width: $bp-full-palette-M ) {
    height: 35px;
  }

  .full-palette__colors--tiles & {
    flex-grow: 1;
  }

  &:hover {
    z-index: 1;

    &:after {
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      opacity: 1;
    }
  }
}

.full-palette-color__view-inner {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $color-black-op40;
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
  transition: all .25s;

  .full-palette__colors--tiles & {
    justify-content: flex-start;
  }

  .full-palette-color__view:hover & {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    opacity: .5;
  }
}

.full-palette-color__view-name,
.full-palette-color__view-sign {
  transition: all .2s;
  color: #FFF;
  text-shadow: 0 0 3px rgba(0,0,0,.5);
}
.full-palette-color__view-name {
  font-size: 17px;
  text-align: center;
  display: none;

  @media ( min-width: $bp-full-palette-XS ) {
    font-size: 15px;
  }
  @media ( min-width: $bp-full-palette-S ) {
    font-size: 14px;
  }

  .full-palette__colors--tiles & {
    display: block;
  }
}

.full-palette-color__view-sign {
  width: 20px;
  height: 20px;
  margin: 0 .7em;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='200 200 200 200'%3E%3Cpolygon fill='white' points='320 280 320 200 280 200 280 280 200 280 200 320 280 320 280 400 320 400 320 320 400 320 400 280'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;

  .full-palette-color__view--selected & {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 80 200 40'%3E%3Cpolygon fill='white' points='0 80 0 120 200 120 200 80'%3E%3C/polygon%3E%3C/svg%3E");
  }

  .full-palette__colors--tiles & {
    width: 18px;
    height: 18px;

    @media ( min-width: $bp-full-palette-XS ) {
      width: 16px;
      height: 16px;
      margin: 0 .7em;
    }
  }
}

.full-palette-color__name {
  padding-left: .5rem;
  font-size: 14px;
  font-style: italic;

  .full-palette__colors--tiles & {
    display: none;
  }
}
