.main {
  width: 100%;
}

.section {
  padding: 2rem 0;
  display: none;

  .no-js & {
    display: block;
  }
}

.section--visible {
  display: block;
}

.section--about,
.no-js .section--palettes {
  max-width: $bp-tablet;
  margin: 0 auto;
}
