.main {
  width: 100%;
  padding-bottom: 200px;

  .no-js & {
    padding-bottom: 20px;
  }
}

.section__title {
  display: none;
  margin-top: 0;
  text-align: center;
  font-family: $font-family-title;
  font-size: 2.5rem;
}


.section--palettes,
.section--full-palette {
  padding: 2rem 0;
  display: none;

  .no-js & {
    display: block;
  }
}

.section--visible {
  display: block;
}

:target {
  display: block;
}
