.palettes {
  // min-height: 1000px;
}

.palettes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.palettes__item {
  flex-basis: 200px;
  display: flex;
  flex-grow: 1;
  height: 3rem;
  margin: .5rem;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid $color-gray-75;

  & > * {
    flex-grow: 1;
  }
}
