.palettes {}

.palettes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.palettes__item {
  position: relative;
  flex-basis: 270px;

  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: .5rem .5rem 1rem;
  transition: all .5s;

  // @media ( min-width: $bp-tablet ) {
  //   flex-basis: %;
  // }
  // @media ( min-width: $bp-desktop ) {
  //   flex-basis: 30%;
  // }
}

.tiny-palette__header {
  margin-bottom: .1rem;
  display: flex;
  color: #333;
}

.tiny-palette__title {
  margin: 0 .4em 0 0;
}
.tiny-palette__author {
  font-family: $font-family-title;
  opacity: 0;
  transition: all .5s;

  .tiny-palette:hover & {
    opacity: 1;
  }
}

.tiny-palette__colorviews {
  display: flex;
  flex-basis: 100%;
  height: 4rem;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid $color-gray-75;

  & > * {
    flex-grow: 1;
  }
}

.tiny-palette__colornames {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  box-sizing: border-box;
  padding: .5rem;
  background: hsla(0, 0, 100%, .4);
  border: 4px solid $color-black-op10;
  border-radius: 5px;
  opacity: 0;
  outline: 0;
  font-size: 13px;
  font-style: italic;
  transition: opacity .3s;
  cursor: pointer;

  &--current {
    opacity: 1;
  }
}

.tiny-palette__colorname {
  margin: 0 .5rem 0 0;

  &:last-child:after {
    content: none;
  }
}
