HTML {
  font-size: 14px;
}

BODY {
    background: $color-bg;
    font: #{$font-size}/1.6 $font-family;
    color: $color-font;
}

::-moz-selection {
  background: gold;
  color: #000;
}
::selection {
  background: gold;
  color: #000;
}

A {
  transition: color .2s;
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }

  &:hover {
    color: $color-link-hover;
  }
}

UL {
  margin: 0;
  padding: 0;
  list-style: none;
}

H1, H2, H3, H4, H5 {
  font-family: $font-family-title;
  font-weight: normal;
}

.visually-hidden,
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-js .hidden-title {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 0 1em 0;
  clip-path: none;
}
