.header,
.container,
.footer {
  @include container-width;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  padding: 0 1rem;

  // Remove left/right paddings when the container
  // has enough space around
  @media ( min-width: $bp-mobile + 30px ) and (max-width: $bp-tablet - 30px ) {
    padding: 0;
  }
  @media ( min-width: $bp-tablet + 30px ) and (max-width: $bp-desktop - 30px ) {
    padding: 0;
  }
  @media ( min-width: $bp-desktop + 30px ) {
    padding: 0;
  }
}
