/* FONT */
$font-family: Trebuchet MS, Verdana, sans-serif;
$font-family-title: Roboto, Verdana, sans-serif;
$font-size: 16px;

/* COLORS */
$color-bg: #FFF;

$color-gray-30: hsl(0, 0, 30%);
$color-gray-40: hsl(0, 0, 40%);
$color-gray-50: hsl(0, 0, 50%);
$color-gray-60: hsl(0, 0, 60%);
$color-gray-70: hsl(0, 0, 70%);
$color-gray-75: hsl(0, 0, 75%);
$color-gray-80: hsl(0, 0, 80%);

$color-black-op10: hsla(0, 0, 0, .1);
$color-black-op20: hsla(0, 0, 0, .2);
$color-black-op25: hsla(0, 0, 0, .25);
$color-black-op30: hsla(0, 0, 0, .3);
$color-black-op40: hsla(0, 0, 0, .4);
$color-black-op50: hsla(0, 0, 0, .5);
$color-black-op60: hsla(0, 0, 0, .6);
$color-black-op70: hsla(0, 0, 0, .7);

$color-green-light: lightseagreen;
$color-green-dark: darkcyan;

$color-font: #111;
$color-link: $color-green-light;
$color-link-visited: $color-green-dark;
$color-link-hover: mediumaquamarine;

$color-title: $color-green-dark;

/* BREAKPOINTS */
$bp-mobile: 320px;
$bp-tablet: 650px;
$bp-desktop: 1200px;

/* ICONS */
$plus-sign: "data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='200 200 200 200'%3E%3Cpolygon fill='white' points='320 280 320 200 280 200 280 280 200 280 200 320 280 320 280 400 320 400 320 320 400 320 400 280'%3E%3C/polygon%3E%3C/svg%3E";

$minus-sign: "data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 80 200 40'%3E%3Cpolygon fill='white' points='0 80 0 120 200 120 200 80'%3E%3C/polygon%3E%3C/svg%3E";
